@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme
{
    --color-bg-primary: #f5f7f2;
    --color-primary-dark: #670251;
    --color-accent-hover: #ffb6f1;
    --color-bg-secondary: #ccdd97;
    --color-accent-text: #fe82ef;
    --color-button-primary: #fdb0f2;
    --color-text-danger: #84002E;
    --color-surface-dark: #5E104F;
    --color-surface-medium: #BF73A5;
    --color-surface-light: #FFB6F1;
    --color-buttonO: #b483ab;
    --drop-shadow-cake: 0px 55px 35px rgba(0, 0, 0, 0.25);

    --font-poppins: "Poppins", sans-serif;
}

.ovalo {
    width: 300px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
    filter: drop-shadow(0px 55px 35px rgba(0,0,0,0.25));
}